
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap'); */

.relative {
  position: relative;
}

.px-24 {
  padding-inline: 24px;
}

.bg-white {
  background-color: #fff;
}

.hidden {
  display: none;
}

.modalWrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  
}


