@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-text-color: #292f3f;
  /* --toastify-color-success: #292f3f !important; */
  --chat-page-mobile-width-breakpoint: 680px;
}

html,
body {
  height: -webkit-fill-available;
}

body {
  all: unset;
  font-size: 16px;
  font-family: "Inter";
}

*,*::before,*::after{
  padding: 0;
  margin: 0;
}
